* {
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background: #060c21;
}

.header {
	width: 100%;
	height: 100px;
	display: block;
	background-color: #101010;
}

.innerHeader {
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logoContainer {
	height: 100%;
	display: table;
	float: left;
}

.logoContainer h1 {
	color: white;
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	font-size: 32px;
	font-weight: 200;
}

.logoContainer h1 span {
	font-weight: 600;
}

.nav {
	height: 100%;
	float: right;
}

.nav a {
	height: 100%;
	display: table;
	float: left;
	padding: 0 20px;
}

.nav a:last-child {
	padding: 0;
}

.nav a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-size: 16px;
}

/*Humburger Button & Animation*/

.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	padding-bottom: 1em;
	padding-left: 1em;
}

.menu-btn_burger {
	width: 50px;
	height: 6px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
	transform: translateY(-16px);
}

.menu-btn_burger::after {
	transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

.box {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #060c21;
}

.container {
	position: relative;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: auto;
	grid-gap: 0 40;
}
